.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.logo img{
    width: 100%;
}


.blog a{
    width: 70px;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px;

}

.sort{
    background-color: #D3D3D3;
    width: 120px;
    border-radius: 4px;
    padding: 5px;
    margin-left: -100px;
}

.menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 15px;
}

button{
    border: none;
}

.menu{
    width: 100px;
    border-radius: 4px;
    background-color: #DEDEDE;   
    padding: 5px;
}


.card-container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

}

.card{
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px;

}

#card-img{
    width: 300px;
    height: 200px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 10px;
}

.card-body{
     margin-left: -35px;
     gap: 10px;
}

.card-title{
    font-size: 18px;
    font-weight: 600;
}

.card-profile img{
    width: 30px;
    height: 30px;
}

.card-owner-container{
    display: flex;
    gap: 10px;
}

.empty-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    
}

.card-time{
    background-color: #171717;
    color: white;
    border-radius: 10px;
    right: 0;
    top: 50%;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: auto;
    justify-content: right;
    font-size: 14px;
}



@media only screen and (max-width: 767px) {
    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-container .sort{
        margin-top: 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .card-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        justify-content: center;
    }

    .nav-container .sort{
        margin-top: 100px;
    }
}






